<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dingel.server.mapper.OrdersMapper">


    <resultMap id="SelectOrderExport" type="com.dingel.server.pojo.dto.Excel.ExcelOrders">
        <id column="id" property="id"/>
        <result property="ordersId" column="orders_id"/>
        <result property="ordersName" column="orders_name"/>
        <result property="ordersType" column="orders_type"/>
        <result property="ordersMoney" column="orders_money"/>
        <result property="ordersCreatetime" column="orders_createtime"/>
        <result property="ordersState" column="orders_state"/>

    </resultMap>





    <!--导出-->
    <select id="ExportOrder" resultMap="SelectOrderExport">
        select * from orders
    </select>

    <!-- 查询导入是否已存在-->
    <select id="SelectOrder" parameterType="String" resultType="Integer">
        SELECT
            COUNT(*)
        FROM
            orders
        WHERE
            orders_id = #{ordersId}
    </select>

    <!--若用户已存在则删除该用户再插入12-->
    <delete id="DeleteOrder" parameterType="String">
        DELETE
        FROM
            orders
        WHERE
            orders_id = #{ordersId}
    </delete>


    <!--导入用户信息-->
    <insert id="importOrder" parameterType="com.dingel.server.pojo.dto.Excel.ExcelOrders">
       INSERT INTO orders (orders_id,orders_name, orders_type, orders_money,orders_createtime,orders_state)
        VALUES
            (
                #{ordersId},
                #{ordersName},
                #{ordersType},
                #{ordersMoney},
                #{ordersCreatetime},
                #{ordersState}
            )
    </insert>




    <!--登记项目-->
    <insert id="insertOrder" parameterType="hashmap" >
        INSERT INTO orders (orders_id,orders_name, orders_type, orders_money,orders_createtime,orders_state)
        VALUES
            (
                #{ordersId},
                #{ordersName},
                #{ordersType},
                #{ordersMoney},
                #{ordersCreatetime},
                #{ordersState}
            )
    </insert>










</mapper>
